{% load static %}
<!DOCTYPE html>
<html lang="en">
 <head>
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Хоп-хей</title>
</head>
<body>
     <header>
       <h1> <a href="/">Грета говорит</a> </h1>
     </header>
     <div class="container">
       {% block content %}
         {% for i in object_list %}
             <div class="article">
             <h3><a href="{% url 'detail' i.pk %}">{{ i.title }}</a></h3>
               <p>{{ i.body }}</p>
            </div>
         {% endfor %}
        {% endblock content %}
     </div>
 </body>
</html>
